<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WITKWINTNIE!</title>
  <link rel="stylesheet" href="/static/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <!--Header-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="image is-64x64">
        <img src="/static/img/logo.png" width=auto height=auto>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ url_for('main.index') }}" class="navbar-item">
          Strona główna
        </a>

        <a href="{{ url_for('main.about_us') }}" class="navbar-item">
          O nas
        </a>


      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

            {% if session.user is defined %}

            <a href="{{ url_for('main.new_recipe') }}" class="button is-primary is-outlined">
              Dodaj przepis
            </a>
            <a href="{{ url_for('main.user_profile') }}" class="button is-info is-outlined">
              Mój Profil
              <a href="{{ url_for('main.logout') }}" class="button is-danger is-outlined">
                wyloguj

                {% else %}


                <a href="{{ url_for('main.register') }}" class="button is-primary">
                  <strong>Rejestracja</strong>
                </a>
                <a href="{{ url_for('main.login') }}" class="button is-light">
                  Logowanie

                  {% endif %}

                </a>
          </div>
        </div>
      </div>
    </div>
  </nav>



  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-5 is-4-desktop">
          <form method="post">



            <div class="field">
              <div class="control">
                <input class="input is-primary is-medium" type="text" placeholder="Nazwa Przepisu" name="przepis">
              </div>
            </div>

            <div class="columns">
              <div class="column is-half">
                  <div class="select is-primary">
                    <select name="cooking_level " required>
                      <option>obiad</option>
                      <option>śniadanie</option>
                    </select>
                  </div>
              </div>
              <div class="column is-half">
                  <div class="select is-primary">
                    <select name="cooking_level " required>
                      <option>ciasto</option>
                      <option>zupa</option>
                      <option>Kanapki</option>
                    </select>
                  </div>
                </div>
              </div>

            <div class="field">
              <div class="control">
                <input class="input is-small" type="text" placeholder="Czas przygotowania (w minutach)." name="przepis" required>
              </div>
            </div>
            


            <textarea class="textarea" placeholder="Podaj przepis jak przyrządzić twoje danie" rows="10"></textarea>


          </br>



            <div class="field">
              <button class="button is-primary is-fullwidth">Dodaj przepis</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!--Stopka-->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>WITKWINTNIE DANIE</strong> 
        <p>Jakub Kulikowski, Adam Żywica, Adam Wasilewski, Piotr Sumiński, Piotr Król. </p>
      </br>
        <p>Projekt dostępny na,     
        <a href="https://github.com/a-was/kuchniowy-raj">githubie</a>. 
        </p>
      </p>
    </div>
  </footer> 
</body>
</html>