<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WITKWINTNIE!</title>
  <link rel="stylesheet" href="/static/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <!--Header-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="image is-64x64">
        <img src="/static/img/logo.png" width=auto height=auto>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ url_for('main.index') }}" class="navbar-item">
          Strona główna
        </a>

        <a href="{{ url_for('main.about_us') }}" class="navbar-item">
          O nas
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">


            {% if session.user is defined %}

            {% if session.user.role_name == "Administrator" %}
            <a href="{{ url_for('main.admin') }}" class="button is-success is-outlined">
              Panel Administratora
            </a>
            {% endif %}
            <a href="{{ url_for('main.new_recipe') }}" class="button is-primary is-outlined">
              Dodaj przepis
            </a>
            <a href="{{ url_for('main.user_profile') }}" class="button is-info is-outlined">
              Mój Profil
            </a>
            <a href="{{ url_for('main.logout') }}" class="button is-danger is-outlined">
              Wyloguj
            </a>
            {% else %}
            <a href="{{ url_for('main.register') }}" class="button is-primary">
              <strong>Rejestracja</strong>
            </a>
            <a href="{{ url_for('main.login') }}" class="button is-light">
              Logowanie
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="hero">
    <img src="/static/img/index_background.png" />
  </div>



  <!--przepisy-->


  <div class="columns">
    <div class="column is-two-thirds">
      <article class="panel is-primary">

        <div class="panel-heading">
          <div class="media">
            <div class="media-left">
              Przepisy
            </div>
            <div class="media-content">
            </div>
            <div class="media-right">
            </div>
          </div>
        </div>

        <!-- przerwa dla lepszego wyglądu-->
        <div class="panel-block">
          <div class="tabs is-centered">
          </div>
        </div>

        {% for recipe in recipes %}
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content recipe">
            <div class="content">
              <p>
                <a href="{{ url_for('main.get_recipe', recipe_id=recipe.recipe_id) }}"
                  style="color: inherit"><strong>{{ recipe.name }}</strong>
                </a> <small>@{{ recipe.username }}</small>
                <br>
                {{ recipe.description | truncate(50) }}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
                <span style="margin-left: 3px">Wyświetleń: {{ recipe.views }}</span>
              </div>
            </nav>
          </div>
          <div class="media-right">
            <a class="button" href="{{ url_for('main.get_recipe', recipe_id=recipe.recipe_id) }}">Podgląd</a>
            <!-- <button class="button">Pobierz</button> -->
          </div>
        </article>
        {% endfor %}
      </article>
    </div>

    <div class="column">

      <article class="panel is-link">
        <p class="panel-heading">
          Przepis dnia
        </p>
        <div class="panel-block">
          Codziennie inny losowy przepis.
        </div>

        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <a href="{{ url_for('main.get_recipe', recipe_id=daily_recipe.recipe_id) }}"
                  style="color: inherit"><strong>{{ daily_recipe.name }}</strong></a>
                <small>@{{ daily_recipe.username }}</small>
                <br>
                {{ daily_recipe.description | truncate(25) }}
              </p>
            </div>
          </div>
          <div class="media-right">
            <a class="button" href="{{ url_for('main.get_recipe', recipe_id=daily_recipe.recipe_id) }}">Podgląd</a>
            <!-- <button class="button">Pobierz</button> -->
          </div>
        </article>
      </article>


      <div class="column">
        <br>
      </div>




      <article class="panel is-info">


        <p class="panel-heading">
          Wyszukiwanie przepisu
        </p>

        <div class="tabs is-centered">


        </div>



        <section class="section">
          <div class="container has-text-centered">
            <div class="columns">

              <form method="GET" action="/szukaj">
                <div class="columns">
                  <div class="column is-two-fifths">
                    <div class="control">
                      <input class="input" type="text" placeholder="Wyszukaj przepisu" name="q">
                    </div>
                    <div class="control">
                      <input class="input" type="hidden" name="typ" value="nazwa">
                    </div>
                    </br>
                    <div class="field">
                      <button class="button is-info is-rounded">Szukaj po nazwie</button>
                    </div>
                  </div>
              </form>

              <form method="GET" action="/szukaj">
                <div class="column">
                  <div class="control">
                    <div class="select is-primary">
                      <select name="q">
                        {% for type in types_of_food %}
                        <option value="{{ type.name }}">{{ type.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="control">
                      <input class="input" type="hidden" name="typ" value="typ">
                    </div>
                  </div>
                  </br>
                  <div class="field">
                    <button class="button is-info is-rounded">Szukaj po typie</button>
                  </div>
                </div>
              </form>

              <form method="GET" action="/szukaj">
                <div class="column">
                  <div class="control">
                    <div class="select is-primary">
                      <select name="q">
                        {% for category in food_categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="control">
                      <input class="input" type="hidden" name="typ" value="kategoria">
                    </div>
                  </div>
                  </br>
                  <div class="field">
                    <button class="button is-info is-rounded">Szukaj po kategorii</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </section>
      </article>
    </div>
  </div>


        <!--ostatnie przepisy-->
        <!--
      <article class="panel is-info">
        <p class="panel-heading">
          Ostatnie przepisy
        </p>
        <div class="panel-block">
        <div class="panel-block">
          <div class="tabs is-centered">
          </div>
        </div>
        </div>

        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img//logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Pierogi Pani Jadzi</strong> <small>@pania_jadzia</small>
                <br>
                Pyszne pierogi z malinami na chłodne wieczory.
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button">podgląd</button>
          </div>
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Pierogi Pani Jadzi</strong> <small>@pania_jadzia</small>
                <br>
                Pyszne pierogi z malinami na chłodne wieczory.
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button">podgląd</button>
          </div>
        </article>

        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Pierogi Pani Jadzi</strong> <small>@pania_jadzia</small>
                <br>
                Pyszne pierogi z malinami na chłodne wieczory.
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button">podgląd</button>
          </div>
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Pierogi Pani Jadzi</strong> <small>@pania_jadzia</small>
                <br>
                Pyszne pierogi z malinami na chłodne wieczory.
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button">podgląd</button>
          </div>
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Pierogi Pani Jadzi</strong> <small>@pania_jadzia</small>
                <br>
                Pyszne pierogi z malinami na chłodne wieczory.
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button">podgląd</button>
          </div>
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="/static/img/logo.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Pierogi Pani Jadzi</strong> <small>@pania_jadzia</small>
                <br>
                Pyszne pierogi z malinami na chłodne wieczory.
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button">podgląd</button>
          </div>
        </article>
      -->
    


  <!--Stopka-->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>WITKWINTNIE DANIE</strong>
      <p>Jakub Kulikowski, Adam Żywica, Adam Wasilewski, Piotr Sumiński, Piotr Król. </p>
      </br>
      <p>Projekt dostępny na,
        <a href="https://github.com/a-was/kuchniowy-raj">githubie</a>.
      </p>
      </p>
    </div>
  </footer>


</body>

</html>