<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WITKWINTNIE!</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">
        <a class="image is-64x64">
          <img src="/static/img/logo.png" width=auto height=auto>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ url_for('main.index') }}" class="navbar-item">
              Strona główna
            </a>
    
            <a href="{{ url_for('main.about_us') }}" class="navbar-item">
              O nas
            </a>
           
    
          </div>
        
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">

                <a href="{{ url_for('main.register') }}"class="button is-primary">
                  <strong>Rejestracja</strong>
                </a>
                <a href="{{ url_for('main.login') }}" class="button is-light">
                  Logowanie
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>




      <section class="section">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-5 is-4-desktop">

              <form method="post">


                {% if msg %}
                <div class="field">
                  <div class="control">
                    {{msg.text}}
                  </div>
                </div>
                {% endif %}



                <div class="field">
                  <div class="control">
                    <input class="input" type="test" placeholder="Login" name="username">
                  </div>
                </div>


                <!--   
                <div class="field">
                    <div class="control">
                      <input class="input" type="email" placeholder="Email" name="">
                    </div>
                  </div>

                -->


                <div class="field">
                  <div class="control">
                    <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Hasło" name="password1">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  </div>
                </div>
                <progress class="progress is-primary" value="15" max="100">30%</progress>
                <div class="field">
                    <div class="control">
                      <p class="control has-icons-left">
                      <input class="input" type="password" placeholder=" Powtórz Hasło" name="password2">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    </div>
                  </div>

                  



                  <script type="text/javascript"
                  var calculateComplexity = function (password) {
                    var complexity = 0;
                    
                    var regExps = [ 
                      /[a-z]/,
                      /[A-Z]/,
                      /[0-9]/,
                      /.{8}/,
                      /.{16}/,
                      /[!-//:-@[-`{-ÿ]/
                    ];
                    
                    regExps.forEach(function (regexp) {
                      if (regexp.test(password)) {
                        complexity++;
                      }
                    });
                    
                    return {
                      value: complexity,
                      max: regExps.length
                    };
                  };
                   
                  var checkPasswordStregth = function (password) {
                    var progress = document.querySelector('#passwordComplexity'),
                        complexity = calculateComplexity(this.value); 
                    
                    progress.value = complexity.value;
                    progress.max = complexity.max;
                  };
                  
                  var input = document.querySelector('#passwordField');
                  input.addEventListener('keyup', checkPasswordStregth);></script>



                  




                  <div class="columns">
                    <div class="column">  
                  <div class="field">
                    <div class="control">
                      <div class="select is-primary">
                        <select name="sex">
                          <option value="M">Mężczyzna</option>
                          <option name="F">Kobieta</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column"> 
                  <div class="field">
                    <div class="control">
                      <div class="select is-primary">
                        <select name="cooking_level">
                          {% for level in cooking_level_id %}
                          <option>{{ level.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



                <div class="field">
                  <button class="button is-primary is-fullwidth">Zarejestruj</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>





      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>WITKWINTNIE DANIE</strong> by <a href="https://i.iplsc.com/-/0006C1TWAIMOJNNB-C324-F4.jpg">Kubuś puchatek, </a><a href="https://www.wykop.pl/cdn/c3201142/comment_qzB6b5YUz89smF4cZoRZuKuiu7jPzufN.jpg">Kłapouchy, </a> może być też z linkami do gita fb albo pornhuba.

            <p>Projekt dostępny na,     
            <a href="https://github.com/a-was/kuchniowy-raj">githubie</a>. 
            </p>
          </p>
        </div>
      </footer> 
  </body>
</html>