<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WITKWINTNIE!</title>
  <link rel="stylesheet" href="/static/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
      <a class="image is-64x64">
        <img src="/static/img/logo.png" width=auto height=auto>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ url_for('main.index') }}" class="navbar-item">
          Strona główna
        </a>

        <a href="{{ url_for('main.about_us') }}" class="navbar-item">
          O nas
        </a>


      </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

            <a href="{{ url_for('main.register') }}" class="button is-primary">
              <strong>Rejestracja</strong>
            </a>
            <a href="{{ url_for('main.login') }}" class="button is-light">
              Logowanie
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>




  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-5 is-4-desktop">

          <form method="post">


            {% if msg %}
            <div class="field">
              <div class="control">
                {{msg.text}}
              </div>
            </div>
            {% endif %}



            <div class="field">
              <div class="control">
                <label class="label">Wpisz swój login.</label>
                <input class="input" type="test" placeholder="Login" name="username" required>
              </div>
            </div>


            <!--   
                <div class="field">
                    <div class="control">
                      <input class="input" type="email" placeholder="Email" name="">
                    </div>
                  </div>

                -->


            <div class="field">
              <div class="control">
                <label class="label">Podaj hasło. Pamiętaj o sile hasła!</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Hasło" name="password1" id="password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            </div>

            <div> 
              <input class="input" type="text" id="test12" />
            </div>
            <script>

$(document).ready(function () {

              function scorePassword(pass) {
                var wynik = 0;
                var warianty = {
                  cyfry: /\d/.test(pass),
                  male: /[a-z]/.test(pass),
                  duze: /[A-Z]/.test(pass),
                  specjalne: /\W/.test(pass),
                  dlugosc: pass.length > 7
                };
                for (var war in warianty)
                  if (warianty[war] == true) wynik += 100 / 5;

                var color = '';

                if (wynik < 50) color = 'red';
                else if (wynik > 50 && wynik < 100) color = 'yellow';
                else if (wynik == 100) color = 'green';
                $("#strength_score").text(wynik + '%');
                $("#strength_score").css('background-color', color);
                return parseInt(wynik);
              }

              $(function () {
                $("#test12").on("keypress keyup keydown", function () {
                  scorePassword($(this).val());
                });
              });


            });
            </script>



            <div id="strength_score" value="0">0%</div>











            <div class="field">
              <div class="control">
                <label class="label">Powtórz hasło.</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder=" Powtórz Hasło" name="password2" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            </div>














            <div class="columns">
              <div class="column">
                <div class="field">
                  <div class="control">
                    <div class="select is-primary">
                      <select name="sex" required>
                        <option value="M">Mężczyzna</option>
                        <option name="F">Kobieta</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <div class="control">
                    <div class="select is-primary">
                      <select name="cooking_level " required>
                        {% for level in cooking_levels %}
                        <option value="{{ level.cooking_level_id }}">{{ level.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="field">
              <button class="button is-primary is-fullwidth">Zarejestruj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>





  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>WITKWINTNIE DANIE</strong>
      <p>Jakub Kulikowski, Adam Żywica, Adam Wasilewski, Piotr Sumiński, Piotr Król. </p>
      </br>
      <p>Projekt dostępny na,
        <a href="https://github.com/a-was/kuchniowy-raj">githubie</a>.
      </p>
      </p>
    </div>
  </footer>
</body>

</html>